.page-content{
	margin-top: 35px;
}
.table {
    width: 100%;
}

    .table td {
        height: 30px;
        vertical-align: top;
    }

    .table .row-title {
        font-weight: bold;
        width: 200px;
    }
/*#staff {*/
         /*text-align: center;*/
     /*}*/
/*.thumbnail {*/
    /*margin: 20px;*/
    /*width: 250px;*/
    /*display: inline-block;*/
/*}*/

