.page-content{
	margin-top: 35px;
}
.table {
    width: 100%;
}

    .table td {
        height: 30px;
        vertical-align: top;
    }

    .table .row-title {
        font-weight: bold;
        width: 200px;
    }
.line-height{
    line-height: 1.7em;
}

#staff {
    text-align: center;
}

#staff .thumbnail {
    margin: 20px;
    width:250px;
    display: inline-block;
}
.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
