<section ng-controller="ConferenceCreateController">
    <header id="head" class="secondary">
        <div class="container">
            <h2>ติดต่อเรา</h2>
        </div>
    </header>
    <hr>
    <div class="container">
        <table width="100%">
            <tbody>
            <tr>
                <td nowrap="nowrap">
                    <div style="text-align:center;font-size:10px;">
                        2015-2016 © Mobile Computing Technology, University of Phayao
                    </div>
                </td>
                <td style="text-align: right; ">
                    ระบบสนับสนุนการประชุม สาขาเทคโนโลยีคอมพิวเตอร์เคลื่อนที่
                    <br>
                    19/4 หมู่ที่ 2 ตำบลแม่กา อำเภอเมือง จังหวัดพะเยา 56000
                    Tel. 054-466-666<br>
                </td>
                <td style="text-align: right" nowrap="nowrap">
                    <img height="60" ng-src="/modules/core/client/img/ict_logo.jpg">&nbsp;&nbsp;
                    <img ng-src="/modules/core/client/img/up.png" style="width: 46px; height: 60px"></td>
            </tr>
            </tbody>
        </table>
        </tbody>
        </table>
    </div>
</section>
