<section ng-controller="ConferenceViewController">

    <div class="page-header">
        <ol class="breadcrumb breadcrumb-arrow">
            <li><a ui-sref="conferences.subconference({conferenceId: conference._id})">แก้ไขระเบียบวาระการประชุม</a></li>
            <li class="active"><span>วาระที่ 4 เรื่องเสนอเพื่อพิจารณา</span></li>
        </ol>
    </div>
    <div class="modal-body">
        <div class="thumbnail">
            <div class="form-group clearfix">
                <div style="margin-top: 5px;" class="col-sm-12">
                    <button class="btn bg_1  glyphicon glyphicon-download-alt" type="button"
                            ng-click="addSubContent(conference.topic_four,newContent)"> เพิ่ม
                    </button>
                    <button class="btn bg_1  glyphicon glyphicon-saved" ng-click="update()"
                            type="button"> บันทึกการแก้ไข
                    </button>
                    <button type="button" class="btn bg_1  glyphicon glyphicon-upload" type="file"
                            ngf-select="uploadFiles_4($file, $invalidFiles)"
                            ng-model="uploadedFile"> เพิ่มไฟล์
                    </button>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="mainbox col-md-6 ">
            <div class="panel panel-info">

                <div style="padding-top:30px" class="panel-body ">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th style="width: 5%">ลำดับ</th>
                            <th style="width: 40%">ชื่อ</th>
                            <th style="width: 5%">จัดการ</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="content in conference.topic_four.files">
                            <td>{{$index+1}}</td>
                            <td><a  href="{{content.url}}"  target="_blank">{{content.filename}}</a></td>
                            <td>
                                <button class="btn btn-sm btn-danger"
                                        ng-click="removeUploadFiles_4(conference,topic_three,files,$index)">ลบ
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ลำดับ</th>
                <th>หัวข้อ</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="content in conference.topic_four.contents ">
                <td class="col-sm-1">4.{{$index+1}}</td>
                <td class="">

                    <div class="media">
                        <div class="media-body">
                            <h4 class="media-heading" ng-show="!content.isEditMode">
                                {{content.header}}
                            </h4>
                            <div class="media-heading "  ng-show="content.isEditMode">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">ชื่อเรื่อง</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="text" ng-model="content.header">
                                    </div>
                                </div>
                            </div>
                            <p ng-show="!content.isEditMode">
                                {{content.content}}
                            </p>
                            <div class="form-group" ng-show="content.isEditMode">
                                <label class="col-sm-2 control-label">สาระสำคัญ</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" rows="5" ng-show="content.isEditMode"
                                              ng-model="content.content"></textarea>
                                </div>
                            </div>


                        </div>
                        <div class="media-right">
                            <button ng-show="!content.isEditMode" class="btn btn-info btn-block" type="button"
                                    ng-click="toggleEditContent(conference.topic_four,content,$index)">
                                แก้ไข
                            </button>
                            <button ng-show="content.isEditMode" class="btn btn-info btn-block" type="button"
                                    ng-click="toggleEditContent(conference.topic_four,content,$index)">
                                บันทึก
                            </button>
                            <button class="btn btn-primary btn-block" type="button"
                                    ng-click="addSubDetailContent(conference.topic_four,content,$index)">เพิ่มรายละเอียด
                            </button>
                            <button class="btn btn-danger btn-block" type="button"
                                    ng-click="removeContent(conference.topic_four,content,$index)">ลบ
                            </button>
                        </div>
                        <div class="media" ng-repeat="subContent in content.subContents">
                            <hr/>
                            <div class="media">
                                <div class="media-body">
                                    <h4 class="media-heading" ng-show="!subContent.isEditMode">
                                        {{subContent.header}}
                                    </h4>
                                    <div class="media-heading" ng-show="subContent.isEditMode">
                                        <div class="form-group" >
                                            <label class="col-sm-2 control-label">ชื่อเรื่อง</label>
                                            <div class="col-sm-10">
                                                <input class="form-control" type="text" ng-model="subContent.header"/>
                                            </div>
                                        </div>
                                    </div>
                                    <p ng-show="!subContent.isEditMode" placeholder="Enter password">
                                        {{subContent.content}}
                                    </p>
                                    <div class="form-group" ng-show="subContent.isEditMode">
                                        <label class="col-sm-2 control-label">สาระสำคัญ</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" rows="5" ng-show="subContent.isEditMode"
                                                      ng-model="subContent.content"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="media-right">
                                    <button ng-show="!subContent.isEditMode" class="btn btn-info btn-block"
                                            type="button"
                                            ng-click="toggleEditDetailContent(content,subContent,$index)">
                                        แก้ไข
                                    </button>
                                    <button ng-show="subContent.isEditMode" class="btn btn-info btn-block" type="button"
                                            ng-click="toggleEditDetailContent(content,subContent,$index)">
                                        บันทึก
                                    </button>
                                    <button class="btn btn-danger btn-block" type="button"
                                            ng-click="removeSubDetailContent(content,subContent,$index)">ลบ
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <style type="text/css">
        .table.no-border tr td, .table.no-border tr th {
            border-width: 0;
        }
    </style>

</section>