<section ng-controller="ConferenceViewController">

    <div class="page-header">
        <ol class="breadcrumb breadcrumb-arrow">
        <li><a ui-sref="conferences.view({conferenceId: conference._id})">การประชุมทั้งหมด</a></li>
        <li class="active"><span>เพิ่มรายละเอียดการประชุม</span></li>
    </ol>
    </div>
    <div class="mainbox col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">{{conference.topic}}</div>
            </div>

            <div style="padding-top:30px" class="panel-body">
                <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="thumbnail  col-sm-12">
                            <div class="caption col-sm-9"><span ng-bind="(variable | number: 1) + '%'"
                                                                class="animated" ng-show="variable"
                                                                ng-class="{'fadeIn':variable}"></span>
                                <h4 style="color: #0099FF" ng-bind="conference.topic"></h4>
                                <p><span ng-bind="conference.conferenceDate"></span>
                                    เวลา<span ng-bind="conference.conferenceTime"></span>
                                    <span ng-bind="conference.conferencePlace"></span><br>
                                    <small>
                                        สร้างการประชุมโดย <span ng-bind="conference.user.displayName"></span>
                                    </small>
                                </p>
                            </div>
                            <div class="btn-group col-sm-3">
                                <button type="button" class="btn bg_1 pull-right dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    เพิ่มรายละเอียด <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li><a ui-sref="conferences.editarticle({conferenceId: conference._id})"
                                           class="glyphicon glyphicon-edit"> แก้ไขการประชุม</a></li>
                                    <li><a ui-sref="conferences.subconference({conferenceId: conference._id})"
                                           class="glyphicon glyphicon-edit"> แก้ไขวาระการประชุม</a></li>
                                    <li><a ui-sref="conferences.positionconference({conferenceId: conference._id})"
                                           class="glyphicon glyphicon-list-alt"> รายชื่อผู้เข้าร่วมประชุม</a></li>
                                    <li><a ui-sref="conferences.realtimearticle({conferenceId: conference._id})"
                                           class="glyphicon glyphicon-eye-open"> เปิดการประชุม</a></li>
                                    <li><a ui-sref="conferences.viewarticles({conferenceId: conference._id})"
                                           class="glyphicon glyphicon-fullscreen"> ดูต้นแบบการประชุม</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a id="myBtn" class="glyphicon glyphicon-trash"> ลบการประชุม</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">คุณต้องการลบการประชุม {{conference.topic}}</h4>
                            </div>
                            <div class="modal-body">
                                <small>คำเตือน : ฟอร์มที่ลบจะไม่สามารถกู้คืนได้ ถ้าคุณยืนยันการลบฟอร์ม
                                    คุณจะต้องสร้างใหม่ตั้งแต่แรก
                                </small>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" ng-click="remove();">ยืนยันการลบ</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    $(document).ready(function () {
                        $("#myBtn").click(function () {
                            $("#myModal").modal({backdrop: false});
                        });
                    });
                </script>

</section>
