<div ng-controller="AuthenticationController">
  <div style="margin-top:10px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">  
  <div class="panel panel-info" >
    <div class="panel-heading">
        <div class="panel-title">ลงชื่อเข้าใช้งาน</div>
        <div ui-sref="password.forgot" style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">ลืมระหัสผ่าน</a></div>
    </div>     
    <div style="padding-top:30px" class="panel-body" >
        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div> 
        <form name="userForm" ng-submit="signin(userForm.$valid)" id="loginform" class="form-horizontal" role="form">
            <div style="margin-bottom: 25px" class="input-group" show-errors>
                   <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                   <input type="text" id="username" name="username" class="form-control" ng-model="credentials.username" placeholder="ชื่อผู้ใช้งาน" lowercase required>
                   <div ng-messages="userForm.username.$error" role="alert">
                   <p class="help-block error-text" ng-message="required">Username is required.</p>
            </div>
            </div>
            <div style="margin-bottom: 25px" class="input-group" show-errors>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" id="password" name="password" class="form-control" ng-model="credentials.password" placeholder="รหัสผ่าน" required>
                    <div ng-messages="userForm.password.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Password is required.</p>
                    </div>
            </div>
            <div class="input-group">
                <div style="margin-top:10px" class="form-group">
                    <div class="col-sm-12 controls">
                      <button type="submit" class="btn bg_1">ลงชื่อเข้าใช้งาน</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 control">
                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                        หากไม่สามารถเข้าถึงบัญชีของคุณได้  
                        <a ui-sref="authentication.signup" href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()">สร้างบัญชี</a>
                        </div>
                    </div>
                  </div> 
                  <alert type="danger" ng-show="error" class="text-center text-danger">
                  <span ng-bind="error"></span>
                  </alert>   
                  </form>     
                  </div>                     
                  </div>  
              </div>
</div>
