body {
    font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
    line-height: 1.6;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-family: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
    background-color: #ffffff;
    margin: 0 0 100px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 20px;
    padding-bottom: 15px;
}

.scrollable-menu {
    height: auto;
    max-height: 450px;
    overflow-x: hidden;
}
.home_side{
    margin: 15px;
}

.bg_1 {
    background-color: #ad8ae3;
    color: #FFFFFF;
}

.panel > .panel-heading {
    background-image: none;
    background-color: #ad8ae3;
    color: #FFFFFF;

}

.content {
    margin-top: 50px;
}

.undecorated-link:hover {
    text-decoration: none;
}

[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

.header-profile-image {
    opacity: 0.8;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    margin-right: 5px;
}

.open .header-profile-image,
a:hover .header-profile-image {
    opacity: 1;
}

.user-header-dropdown-toggle {
    padding-top: 11px !important;
    padding-bottom: 11px !important;
}

.error-text {
    display: none;
}

.has-error .help-block.error-text {
    display: block;
}

.has-error .help-inline.error-text {
    display: inline;
}

.navbar {
    background-color: #463265;
    border-color: #463265;
}

.navbar .navbar-brand {
    color: #ecf0f1;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #ecdbff;
}

.navbar .navbar-text {
    color: #ecf0f1;
}

.navbar .navbar-nav > li > a {
    color: #ecf0f1;
}

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
    color: #ffffff; /*เม้าชี้แล้วเปลี่ยนสี*/
}

.navbar .navbar-nav > li > .dropdown-menu {
    background-color: #463265;
}

.navbar .navbar-nav > li > .dropdown-menu > li > a {
    color: #ecf0f1;
}

.navbar .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #463265; /*drop downเม้าชี้แล้วเปลี่ยนสี*/
    background-color: #463265;
}

.navbar .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: #463265;
}

.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecdbff;
    background-color: #463265;
}

.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
    color: #ecdbff;
    background-color: #463265;
}

.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus {
    color: #ecdbff;
    background-color: #463265;
}

.navbar .navbar-toggle {
    border-color: #463265;
}

.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #463265;
}

.navbar .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}

.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #ecf0f1;
}

.navbar .navbar-link {
    color: #ecf0f1;
}

.navbar .navbar-link:hover {
    color: #ecdbff;
}

@media (max-width: 767px) {
    .navbar .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }

    .navbar .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ecdbff;
    }

    .navbar .navbar-nav .open .dropdown-menu > .active > a,
    .navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ecdbff;
        background-color: #463265;
    }
}

hr {
    background-color: #463265;
    border-style: inset;
    border-width: 1px;
}

